[Unit]
Description=pulseaudio service

[Service]
Type=forking
ExecStart=/usr/bin/pulseaudio
Restart=always
KillSignal=SIGKILL
MemoryLimit=50M
PIDFile=/var/run/pulse/pid

[Install]
WantedBy=sound.target
